header h1 {
justify-content: flex-start;
width: 100%;
flex-direction: column;
margin: 0 auto;
color: rgb(255, 255, 255);
font-family: 'Cinzel', "Cinzel", "serif";
font-size: 40px;
text-align: center;
background-color: rgb(95, 43, 3);
}

header {
font-family: "Open Sans", "Times New Roman", "serif";
border: 0;
background-image: url(https://i.ibb.co/3Cv5qN9/Design-sem-nome-11.png); 
background-size:cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
width: 100%;
height: 200px;
justify-content: center;
margin: 0 auto;
align-items: center;
}

header nav {
position: relative;
right: 600px;
height: 200px;
width: 20px;
margin: 0 auto;
text-align: left;
flex-direction: column;
}

header nav ul {
list-style-type: none;
justify-content: space-between;
padding: 0;
}

header nav li {
background-color: rgb(143, 66, 7); 
padding: 6px 20px; 
border: none; 
text-align: center; 
text-decoration: none; 
display: inline-block; 
font-size: 16px;
}

header nav a {
color: white;
text-decoration: none;
}

header nav li:hover{
background-color: rgb(95, 43, 3);
color: rgb(54, 41, 3);
}

main {
width: 80%;
margin: 0 auto;
flex: 1;
}

footer {
display: flex;
justify-content: center;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
}