{{ define "main" }}
<div class="catavento">
    <h2>{{ .Title}}</h2>
    <hr>
    
    <img src="https://imagens-revista-pro.vivadecora.com.br/uploads/2022/09/Museu-catavento-foto-museucatavento.org_.br_.jpg" width="620px" height="380px">

    <hr>
    <P>O Museu Catavento é um museu interativo, inaugurado em 2009 com o propósito de se dedicar às ciências e sua divulgação.</p>
        <hr>
        <li>O Museu Catavento está localizado na Avenida Mercúrio, Parque Dom Pedro II, s/n, São Paulo - SP, 03003-060</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>De terça a domingo das 09h às 17h. Bilheteria fecha às 16h..</li>

        <hr>
    <ul>
        <li>Prédio em que está localizado o museu</li>        
        <p>O projeto do Palácio das Indústrias, que abriga o Museu Catavento, foi criado por Domiziano Rossi em parceria com outros dois arquitetos, Francisco Ramos de Azevedo e Ricardo Severo.</p>
        <p>O prédio foi construído com o objetivo de abrigar exposições relacionadas à indústria paulista. Inaugurado oficialmente no dia 29 de abril de 1924, ele fez parte do plano de renascimento da capital paulista e de revitalização da região conhecida como Várzea do Carmo.</p>
        <hr>
        <li>O Museu Catavento é dividido em 4 sessões</li>
        <p>As sessões são Universo, Vida, Engenho e Sociedade. Cada uma delas traz várias instalações interativas e curiosidades para os visitantes, que saem do museu com novos conhecimentos sobre ciência.</p>
    </ul>

</div>
{{ end }}