{{ define "main" }}
<div class="mam">
    <h2>{{ .Title}}</h2>
    <hr>
    
    <img src="https://images.sp-arte.com/resize/images/large-2x/rzg_14o_estrutura_mam03.jpg" width="620px" height="380px" class="foto-mam">

    <hr>
    <P>A Pinacoteca do Estado de São Paulo é um dos mais importantes museus de arte do Brasil.</p>
        <hr>
        <li>O Museu de Arte Moderna de São Paulo está localizado na Av. Pedro Alvares Cabral,Parque Ibirapuera</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>Funciona de terça a domingo, das 10h às 18h.
        <hr>

        <li> Acervo </li>        
        <p>Seu acervo permanente tem mais de 5,5 mil peças das quais, curiosamente, a maioria é contemporânea pós-1945, em vez de moderna (do século XIX a metade do século XX) como o nome do museu poderia sugerir.</p>
        <hr>
        <li>Tem função mista de museu e centro cultural</li>
        <p>Lá é possível frequentar exposições temporárias, visitar o restaurante com vista para o parque, a loja de lembranças, o ateliê, a biblioteca com mais de 60 mil volumes, o auditório, ou ainda um dos muitos cursos ligados à sua proposta como história da arte, fotografia, desenho, pintura, teatro e figurino.</p>

    <hr>
    
</div>
{{ end }}
