{{ define "main" }}
<div class="masp">
    <h2>{{ .Title}}</h2>
    <hr>

    <img src="https://cooltours.s3.sa-east-1.amazonaws.com/images/preview/e68964e147c7e59013f9e69f0cc48e8b9ddfa26b5b4f9923a79bf04a2ac3d90b.jpg" width="620px" height="380px">
    
    <hr>
    <P>Localizado na avenida Paulista, o Museu de Arte de São Paulo Assis Chateaubriand é um dos mais importantes museus do hemisfério Sul e um dos principais cartões-postais da cidade. Confira abaixo algumas informações e curiosidades sobre o mueseu!</p>
        <hr>
        <li>O Masp está localizado na Av. Paulista, 1578 - Bela Vista, São Paulo - SP, 01310-200</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>Terça Grátis*</li>
        <p>10h - 20h (entrada até 19h)</p>
        <li>Quarta a Domingo</li>
        <p>10h - 18h (entrada até 17h)</p>
        <li>Segunda</li>
        <p>Fechado</p>
        *Possui entrada gratuita mediante reserva online de ingressos.
        <hr>

        <li> Uma das 10 atrações turísticas mais visitadas de São Paulo </li>        
        <p>Dos quartos do hotel, a vista se espalha em forma de anfiteatro por toda Santorini. Na maioria dos quartos e ao ar livre você pode apreciar a vista da magnífica caldeira e do vulcão no centro da ilha.</p>
        <hr>
        <li> Possui um acervo de cerca de 8 mil peças </li>
        <p>Dentre as obras do acervo, estão obras de grandes nomes da pintura nacional (Cândido Portinari, Di Cavalcanti, Anita Malfatti e Almeida Junior) e internacional (Rafael, Mantegna, Renoir, Monet, Cèzanne, Picasso, Van Gogh e Chagall).</p>
        <hr>
        <li> A convite do Musèe d’Orsay, o MASP entrou em 2008 no “Clube dos 19” </li>
        <p>O Clubre dos 19 congrega os museus cujos acervos são considerados os mais representativos da arte europeia do século XIX, como o Musèe d´Orsay, The Art Institute de Chicago, Metropolitan de Nova York, entre outros.</p>
        <hr>

    
        <h4>Parte do acervo</h4>
        <img src="https://www.melhoresdestinos.com.br/wp-content/uploads/2019/10/Museu-Masp-Sao-Paulo-18.jpg" width="620px" height="380px">

    <hr>
    <br>
</div>
{{ end }}
