{{ define "main" }}
<div class="mis">
    <h2>{{ .Title}}</h2>
    <hr>
    
    <img src="https://www.mis-sp.org.br/assets/site/img/mis_por_ding_musa.jpg" width="620px" height="380px">
    
    <hr>
    <P>O Museu da Imagem e do Som de São Paulo, instituição da Secretaria de Cultura e Economia Criativa do Governo do Estado de São Paulo, é um dos mais movimentados centros culturais da cidade de São Paulo.</p>
    <p>Além das exposições, o MIS oferece uma grande variedade de programas culturais, com eventos em todas as áreas e para todos os públicos: cinema, dança, música, vídeo, fotografia e muito mais.</p>
        <hr>
        <li>O Museu de Imagem e do Som está localizado na Av. Europa, 158, Jardim Europa, São Paulo - SP, Brasil, CEP 01449-000</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>Terças a sextas</li>
        <p>10h às 19h | Permanência até 1h após o último horário</p>
        <li>Sábados</li>
        <p>10h às 20h | Permanência até 1h após o último horário</p>
        <li>Domingos e feriados</li>
        <p>10h às 18h | Permanência até 1h após o último horário</p>
        <hr>

    <li> Acervo diverso </li>        
    <p>Seu acervo é uma mistura do que há de mais relevante em obras de cinema, vídeos, fotos e músicas com documentação histórica, seja de legados artísticos ou tradição oral.</p>
    <hr>
    <li>O museu também oferece programação fixa com o Cinematographo</li>
    <p>Exibe projeções de filmes mudos com acompanhamento de música ao vivo, o Dança no MIS, com apresentações de dança contemporânea, o Estéreo MIS, que busca novos artistas da música independente nacional e o Notas Contemporâneas, que coleta registros de artistas da música erudita contemporânea.</p>


</div>
{{ end }}
