{{ define "main" }}
<div class="museufut">
    <h2>{{ .Title}}</h2>
    <hr>
    
    <img src="https://museudofutebol.org.br/wp-content/uploads/2020/09/MF_0168-Marcos-LopesRED-1024x682.png" width="620px" height="380px">
    
    <hr>
    <P>O Museu do Futebol é um espaço voltado para os mais diferentes assuntos envolvendo a prática, a história e curiosidades do futebol brasileiro e mundial</p>
        <hr>
        <li>O Museu do Futebol está localizado na Praça Charles Miller, s/n - Pacaembu, São Paulo - SP, 01234-010</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>De terça a domingo, das 9h às 17h00 (com permanência até 18h).</li>
        <li>Abertura noturna: a cada primeira terça-feira do mês, das 9h às 20h (com permanência até 21h)</li>

        <hr>

        <li>Sua arquitetura se destaca por integrar os espaços</li>        
        <p>O teto é a própria arquibancada, uma passarela liga os lados leste e oeste do prédio e permite uma bela visão da Praça Charles Miller.</p>
        <hr>
        <li>Três eixos norteiam o passeio pelo museu: Emoção, História e Diversão</li>
        <p>O visitante começa o percurso no saguão de entrada. Depois de torcer, é hora de se sentir entre os ídolos. A pessoa circula entre grandes painéis suspensos da Sala Anjos Barrocos, nos quais são exibidas as imagens em movimento de craques como Pelé, Falcão, Zico, Bebeto, Didi, Romário, Ronaldo, Gilmar, Gérson, Sócrates, Rivelino.</p>


</div>
{{ end }}
