{{ define "main" }}
<div class="pinacoteca">
    <h2>{{ .Title}}</h2>
    <hr>
  
    <img src="https://imagens-revista-pro.vivadecora.com.br/uploads/2019/09/Pinacoteca-de-Sao-Paulo.-Fonte-Balada-IN.jpg" width="56%" height="auto">
   
    <hr>
    <P>A Pinacoteca do Estado de São Paulo é um dos mais importantes museus de arte do Brasil.</p>
        <hr>
        <li>A Pinacoteca está loclizada na Praça da Luz, 2 - Luz, São Paulo - SP, 01120-010</li>
        <hr>
    <p>Confira os horários de funcionamento:</p>
        <li>De quarta a segunda, das 10h às 18h (entrada até 17h)</li>
        <li>Quintas-feiras B3 com horário estendido e gratuito somente na Pina Luz: das 10h às 20h (entrada gratuita a partir das 18h)</li>
        <li>Aos sábados, a entrada é gratuita para todas as pessoas, nos três edifícios. - Para o Memorial da Resistência, retirar ingresso gratuito no local. Não é necessário reserva prévia.</li>
        <hr>

        <li> Ocupa um edifício construído em 1900 </li>        
        <p>O edifício foi projetado por Ramos de Azevedo para ser a sede do Liceu de Artes e Ofícios. É o mais antigo museu de arte de São Paulo, fundado em 1905 e regulamentado como museu público estadual desde 1911</p>
        <hr>
        <li>Abriga um dos maiores e mais representativos acervos de arte brasileira </li>
        <p>Possui um acervo com mais de dez mil peças que abrangem a história da pintura brasileira dos séculos XIX e XX. </p>

    <hr>
    
</div>
{{ end }}
